*.code-workspace
*.pyc
*.pyo
.*.sw?
.DS_Store
.nextflow*
.nf-test.log
.nf-test/
.screenrc
.nextflow*
__pycache__
output/*
results/*
result/*
results2/*
results37/*
test.xml
work/*
.github/CODEOWNERS-tmp
bin/vcfparser.pyc
singularity/*