*.code-workspace
*.pyc
*.pyo
.*.sw?
.DS_Store
.nextflow*
.nf-test.log
.nf-test/
.screenrc
__pycache__
output/
results*/
test.xml
test_output/
tests/data/
work/
.github/CODEOWNERS-tmp
bin/python_modules/__init__.pyc
bin/python_modules/Options.pyc
bin/python_modules/Tabfile.pyc