/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SAMTOOLS_MPILEUP {
        ext.args   = "-A --ignore-RG -B -Q ${params.mpileup_qual} -q 1 -I "
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            pattern: "{noting}",
            mode: params.publish_dir_mode
        ]
    }
    withName: BCFTOOLS_MPILEUP {
        ext.args   = "-A --ignore-RG -B -Q ${params.mpileup_qual} -q 1 -I "
        ext.args2   = "-vc  "
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            pattern: "{noting}",
            mode: params.publish_dir_mode
        ]
    }
    withName: WIN_GENERATOR {
        ext.args   = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            pattern: "{noting}",
            mode: params.publish_dir_mode
        ]
    }
    withName: ESTIMATE_SEX {
        ext.args   = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
    withName: BEAGLE5_BEAGLE {
        ext.args   = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
    withName: CREATE_FAKE_SAMPLES {
        ext.args   = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MERGE_SNP|MERGE_CNV|ANNOTATE_CNV' {
        ext.args   = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
//
// Don't publish results for these processes
//
process {    
    withName: 'GREP_SAMPLENAME|GETCHROMSIZES' {
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
}
