/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Refgenei paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.refgenie_base / --refgenie_base
----------------------------------------------------------------------------------------
*/

params 
{
      genomes 
      {
          'hg38' 
              {
              fasta                = "${params.refgenie_base}/genome_folder/alias/hg38/fasta/default/hg38.fa"
              fasta_fai            = "${params.refgenie_base}/genome_folder/alias/hg38/fasta/default/hg38.fa.fai"
              chrom_sizes          = "${params.refgenie_base}/genome_folder/alias/hg38/fasta/default/hg38.chrom.sizes"
              }
          'hg19'
            {
              fasta                = "${params.refgenie_base}/genome_folder/alias/hg19/fasta/default/hg19.fa"
              fasta_fai            = "${params.refgenie_base}/genome_folder/alias/hg19/fasta/default/hg19.fa.fai"
              chrom_sizes          = "${params.refgenie_base}/genome_folder/alias/hg19/fasta/default/hg19.chrom.sizes"
            }

      }
}